header {
    background-color: black;
    nav {
        background-color: black;
        color: white;
        ul {
            li {
                a {

                }
            }
        }
    }
}